includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
    excludePaths:
        - **/*Test.php

    level: 6

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            message: '#Class App\\Models\\ProjectImage has PHPDoc tag @method for method withTags\(\) parameter \#1 \$tags with no value type specified in iterable type array\.#'
            path: app/Models/ProjectImage.php
