/* Forest Green Theme */

/* Light Mode (Default) */
:root {
  --color-primary: #059669;
  --color-secondary: #059669;
  --color-accent: #4d7c0f;
  --color-background: #f0fdf4;
  --color-surface: #e4f1e8;
  --color-text-primary: #14532d;
  --color-text-secondary: #166534;
  --color-border: #ccd8d0;
}

/* Dark Mode */
:root.dark {
  --color-primary: #059669;
  --color-secondary: #059669;
  --color-accent: #4d7c0f;
  --color-background: #111827;
  --color-surface: #282f3c;
  --color-text-primary: #f9fafb;
  --color-text-secondary: #d4d5d6;
  --color-border: #404652;
}
